
<div class="col-sm-3">
	<div class="left-sidebar">
		<h2>Category</h2>
		<div class="panel-group category-products" id="accordian">
			<!--category-productsr-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="NewArrivals" value=".NewArrivals"
							id="NewArrivals"><label class="checkboxLabel"
							for="NewArrivals">&nbsp;New Arrivals</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Accesories" value=".Accesories"
							id="Accesories"><label class="checkboxLabel"
							for="Accesories">&nbsp;Accesories</label>
					</h4>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Bags" value=".Bags" id="Bags"><label
							class="checkboxLabel" for="Bags">&nbsp;Bags</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Dressed" value=".Dressed"
							id="Dressed"><label class="checkboxLabel" for="Dressed">&nbsp;Dressed</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Fashion" value=".Fashion"
							id="Fashion"><label class="checkboxLabel" for="Fashion">&nbsp;Fashion</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Jackets" value=".Jackets"
							id="Jackets"><label class="checkboxLabel" for="Jackets">&nbsp;Jackets</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Jewelry" value=".Jewelry" id="green"><label
							class="checkboxLabel" for="Jewelry">&nbsp;Jewelry</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Clothing" value=".Clothing"
							id="Clothing"><label class="checkboxLabel" for="Clothing">&nbsp;Clothing</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Shirts" value=".Shirts" id="Shirts"><label
							class="checkboxLabel" for="Shirts">&nbsp;Shirts</label>
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<input type="checkbox" name="Shoes" value=".Shoes" id="Shoes"><label
							class="checkboxLabel" for="Shoes">&nbsp;Shoes</label>
					</h4>
				</div>
			</div>
		</div>
		<!--/category-products-->

		<div class="brands_products">
			<!--brands_products-->
			<h2>Brands</h2>
			<div class="brands-name">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"> <span class="pull-right">(50)</span>Acne
					</a></li>
					<li><a href="#"> <span class="pull-right">(56)</span>Grüne
							Erde
					</a></li>
					<li><a href="#"> <span class="pull-right">(27)</span>Albiro
					</a></li>
					<li><a href="#"> <span class="pull-right">(32)</span>Ronhill
					</a></li>
					<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly
					</a></li>
					<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn
					</a></li>
					<li><a href="#"> <span class="pull-right">(4)</span>Rösch
							creative culture
					</a></li>
				</ul>
			</div>
		</div>
		<!--/brands_products-->
<!-- 
		<div class="price-range">
			price-range
			<h2>Price Range</h2>
			<div class="well text-center">
				<input type="text" class="span2" value="" data-slider-min="0"
					data-slider-max="600" data-slider-step="5"
					data-slider-value="[250,450]" id="sl2"><br /> <b
					class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
			</div>
		</div> -->
		<!--/price-range-->

	</div>
</div>

<div class="col-sm-9 padding-right">
<h2 class="title text-center">Product Gallery</h2>

<div class="row text-center">
<a class="btn btn-primary" href="#/"><i class="fa fa-reply"></i>&nbsp;Back to Product Page</a>
</div>
<br>
<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
	<div class="item" ng-repeat="image in imageList"  ng-class="{'active':isCurrentSlideIndex($index)}"
                      ng-click="setCurrentSlideIndex($index);">
        <div class="col-sm-2"></div>              
		<div class="col-sm-8">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<img src="{{image.url}}" alt="" />
						<h2>$56</h2>
						<p>Easy Polo Black Edition</p>
						<a href="#" class="btn btn-default add-to-cart"><i
							class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<a class="left recommended-item-control" ng-click="prevSlide()"
	 data-slide="prev"> <i
	class="fa fa-angle-left">&nbsp;Prev</i>
</a>
<a class="right recommended-item-control"
	 data-slide="next" ng-click="nextSlide()"> <i
	class="fa fa-angle-right">&nbsp; Next</i>
</a>

</div>
</div>
